{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
{% include 'ajax_base.html' %}

<div class='elements'>
	<form class="form-signin" method="POST" id='src_conf_form'>
		{{ wtf.form_errors(form, "only") }}
		{{form.src_msql_host(placeholder="Host")}}
		{{form.src_msql_port(placeholder="Port")}}
		{{form.src_msql_db(placeholder="Database")}} 
		{{form.src_msql_username(placeholder="Username")}}
		{{form.src_msql_password(placeholder="Password")}}
	</form>
	<div id='alert-display'></div>
</div>

<hr />
<button class="btn btn-inverse btn-testconfig" type="button" id='bnt_test_config'>Test config</button>
<button class="btn btn-back" type="button" id='src_back_btn'>Back</button>

{% include '_src_common.html' %}
{% endblock %}