{% extends "inner_base.html" %}

{% set active_page = "index" %}

{% block favicons %}
<style type="text/css">
div.items {
	float : left;
	height : 70px;
	width : 70px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
	text-align: center;
}
div.item img{
	
}
.thumbnail{
	overflow: hidden;
	height: 500px;
}

</style>
{% endblock %}

{% block content %}

<h3>New Backup Profile</h3>
<hr />
<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail source_container shadow">
				<div class="caption">
					<h4 id='src_title'>Choose Source</h4>
					<hr />
					<div id="source_container">
						{% include '_source_list.html' %}
					</div>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail shadow" style="height: 400px">
				<div class="caption">
					<h4>Profile</h4>
					<hr />
					<div id="option_container">
						{% include '_options.html' %}
					</div>
				</div>
			</div>
			<div id='alert-display' style="margin-top:10px"></div>
		</li>
		<li class="span4">
			<div class="thumbnail destination_container shadow">
				<div class="caption">
					<h4 id='dst_title'>Choose Destination</h4>
					<hr />
					<div id="destination_container">
						{% include '_destination_list.html' %}
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<div style="text-align:center">
	<button type="button" class="btn btn-success btn-large" id='btn_save_profile'>Save Profile</button>
	<button type="button" class="btn btn-info btn-large" id='btn_testrun_profile'>Test Run</button>
</div>
<div id='afd'></div>
<div id='src_objs' style="display:none">
{% include '_source_list.html' %}
</div>

<div id='dst_objs' style="display:none">
{% include '_destination_list.html' %}
</div>

<input type="hidden" id='src_provider' /> <input type="hidden" id='dst_provider' />

<script>
$(document).ready(function(){
	$('#cron_selection').cron({
		initial: "0 0 * * 0",
	    onChange: function() {
	        $('#opt_cron').val($(this).cron("value"));
	    }
	});
	
	$(document).on('click', '.src_dst_object', function(){
		$container = $(this).attr('data-container');
		$id = $(this).attr('data-provider');
		if ($container == 'source_container'){
			$("#src_title").html($(this).attr('title'));
		}
		else if ($container == 'destination_container'){
			$("#dst_title").html($(this).attr('title'));
		}
		$("#"+$container).load($(this).attr('data-url'), function(){
			if ($container == 'source_container'){
				$('#src_provider').val($id);
			}
			else if ($container == 'destination_container'){
				$('#dst_provider').val($id);
			}
		});
	});
	
	$(document).on('click', '#src_back_btn', function(){
		$("#src_title").html('Choose Source');
		$("#source_container").html($('#src_objs').html())
		$('#src_provider').val('');
	});
	
	$(document).on('click', '#dst_back_btn', function(){
		$("#dest_title").html('Choose Destination');
		$("#destination_container").html($('#dst_objs').html());
		$('#dst_provider').val('');
	});
	
	$('#btn_save_profile').click(function(){
		$data_src = $('#src_conf_form').serialize();
		$data_dest = $('#dst_conf_form').serialize();
		$data_opt = $('#opt_form').serialize();
		$token_id = $('#token_id').val();
		$dpd = $('#dst_provider').val();
		$spd = $('#src_provider').val();
		
		$data = $data_src + "&" + $data_dest + "&dst_provider=" + $dpd + "&src_provider=" + $spd + "&" + $data_opt;
		$.ajax({
			url: "/profile",
			data: $data,
			dataType: 'json',
			type: 'POST',
			success: function(resp){
				if(resp.payload.status == 'success'){
					$('#src_back_btn').click(); $('#dst_back_btn').click();
					$('#opt_form')[0].reset();
				}
				showAlert(resp.payload.status, resp.payload.msg, '#alert-display');
			}
		})
	})
});

</script>

{% endblock %}
