{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
 
    <div class="container"> 
 
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h1>Welcome to Webackup!</h1>
        <p>Transfer anything between anything. Webackup is one stop all backup solution for business and personal.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> 
      </div> 
 
      <!-- Example row of columns --> 
      <div class="row"> 
        <div class="span4"> 
          <h2>Secure cloud transfers</h2> 
           <p>You can move files between any cloud storage provider. Nothing to install. Completely online. Trusted by millions.</p> 
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
        <div class="span4"> 
          <h2>Cloud backups</h2> 
           <p>Backup anything to the cloud, including your cloud storage or website. We'll help you backup everything with ease!</p> 
          <p><a class="btn" href="#">View details &raquo;</a></p> 
       </div> 
        <div class="span4"> 
          <h2>Switch cloud storage</h2> 
          <p>Moving from Dropbox to Box? Google Drive to SkyDrive? We make the process a snap!</p> 
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
      </div> 
 
      <hr> 
 
      <footer> 
        <p>&copy; Company 2012</p> 
      </footer> 
 
    </div> <!-- /container --> 
 
{% endblock %}