{% extends "inner_base.html" %}

{% set active_page = "index" %}

{% block favicons %}
<style type="text/css">
div.items {
	float : left;
	height : 70px;
	width : 70px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
	text-align: center;
}
div.item img{
	
}
.thumbnail{
	overflow: hidden;
	height: 500px;
}

</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<div class="caption">
					<h3 id='src_title'>Choose Source</h3>
					<hr />
					<div id="source_container">
						{% include '_source_list.html' %}
					</div>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style="height: 350px">
				<div class="caption">
					<h3>Options</h3>
					<hr />
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam.
						Donec id elit non mi porta gravida at eget metus. Nullam id dolor
						id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<div class="caption">
					<h3>Choose Destination</h3>
					<hr />
					{% for destination in destinations %}
					<div class="items img-rounded img-polaroid">
						<a href="destination">
							<img src="{{destination.icon}}" style="width: 70px; height: 70px;" title="{{destination.title}}">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</li>
	</ul>
</div>

<div style="text-align:center"><button type="button" class="btn btn-success btn-large" id='btn_save_profile'>Save Profile</button></div>

<script>
$(document).ready(function(){
	$(document).on('click', '.src_dst_object', function(){
		$("#src_title").html($(this).attr('title'));
		$("#source_container").load($(this).attr('data-url'));
	});
	
	$(document).on('click', '#src_back_btn', function(){
		$("#src_title").html('Choose Source');
		$("#source_container").load('/core/list?type=source');
	});
	
	$('#btn_save_profile').click(function(){
		$data_src = $('#src_conf_form').serialize();
		$data_dest = $('#dest_conf_form').serialize();
		
		alert($data_src);
	})
});
</script>

{% endblock %}
