{% extends "inner_base.html" %}

{% set active_page = "log" %}

{% block content %}
<div style="float: left; width: 300px">
	<h3>
		Event log
	</h3>
</div>
<div style="float:right; padding-top: 20px">
	<button type="button" class="btn btn-danger"><i class="icon-remove icon-white"></i>&nbsp;Clear log</button>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Job id</th>
			<th>Time</th>
			<th>Status</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		{% include '_log.html' %}
	</tbody>
</table>
{% endblock %}