{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/profile', 'profile', 'Profile'),
    ('/log', 'log', 'Log'),
    ('/setting', 'setting', 'Settings'),
    ('/logout', 'logout', 'Log out'),
] -%}
{% set active_page = active_page|default('index') -%}

{% block head %}
	{{ super() }}
	
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="/static/js/jquery-cron-min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-gentleSelect-min.js"></script>

	<link type="text/css" href="/static/css/jquery-cron.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/jquery-gentleSelect.css" rel="stylesheet" />
	<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="screen">
	
	<style type="text/css">
		#main_content{
			display: block;
			widht: 100%;
			min-height: 550px;
		}
	</style>
{% endblock %}

{% block body_content %}
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">Webackup</a>
				<div class="nav-collapse">
					<ul class="nav">
						{% for href, id, caption in navigation_bar %}
						  <li{% if id == active_page %} class="active" {% endif %}>
						  	<a href="{{ href|e }}">{{ caption|e }}</a>
						  </li>
						{% endfor %}
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	
	<div class="container">
		<div id="main_content">
			{% block content %} {% endblock %}
		</div>
		<hr />
		<footer>
			<p>
				This software is under GPL license
			</p>
		</footer>
	</div>
	<!-- /container -->
	
	<script type="text/javascript">
	function showAlert(type, message, selector){
		html = '<div class="alert alert-'+type+'"> \
					<button type="button" class="close" data-dismiss="alert">×</button> \
					'+message+' \
				</div>';
		$(selector).html(html);
	}
	function blockPage(){
		$.blockUI({ 
            message: "<h2><img src='/static/img/ajax-loader.gif' />&nbsp;&nbsp;Please wait...</h2>", 
            css: { 
                border: 'none',
                backgroundColor: '#fff', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                color: '#000' 
            } 
        });
	}
	$(document).ready(function(){
        $(document).ajaxStart(blockPage);
		$(document).ajaxStop($.unblockUI); 
	})
	</script>
{% endblock %}